@charset "UTF-8";
body {
  color: #242424;
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-weight: normal;
  overflow-x: hidden;
}

a {
  color: #a4a4a4;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
a:focus, a:hover {
  color: #fed700;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 700;
  color: inherit;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 8px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}

h1 {
  font-size: 35px;
  font-weight: 500;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.1;
  color: #898989;
  margin-bottom: 15px;
}

label {
  font-size: 15px;
  font-weight: 400;
  color: #626262;
}

input {
  background: #eceff8;
  border: 2px solid #eceff8;
  height: 45px;
  box-shadow: none;
  color: #626262;
  width: 100%;
}
input:focus {
  background: transparent;
  outline: none;
}

select {
  width: 100%;
  background: #eceff8;
  border: 2px solid #eceff8;
  height: 45px;
  padding-left: 10px;
  box-shadow: none;
  color: #626262;
}

option {
  background: #fff;
  border: 0px solid #626262;
  padding-left: 10px;
}

textarea {
  resize: vertical;
  background: #eceff8;
  border: 2px solid #eceff8;
  padding: 10px;
  width: 100%;
}
textarea:focus {
  background: transparent;
  border: 2px solid #4FC1F0;
  outline: none;
}

.pb-60 {
  padding-bottom: 60px !important;
}

.pb-18 {
  padding-bottom: 18px !important;
}

.pt-50 {
  padding-top: 40px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

.btn-outline-warning {
  --bs-btn-color: rgb(23, 93, 143);
  --bs-btn-font-weight: 700;
  letter-spacing: 1px;
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1170px;
    padding-left: 0;
    padding-right: 0;
  }
}
.btnMain {
  display: block;
  background: #fed700;
  border: 0px solid currentcolor;
  color: #242424;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 28px;
  height: 45px;
  line-height: 29px;
  transition: all 0.5s ease-in-out;
}
.btnMain:hover {
  background: #333333;
  color: #ffffff;
}
.btnMain:focus {
  outline: none;
}
.btnMain:active {
  border-width: 3px 0 0;
}

button.close {
  background: none;
  border: 0px solid currentcolor;
  color: #777777;
  font-size: 18px;
  font-weight: 700;
  z-index: 2;
}
button.close.close:hover {
  color: #fed700;
}

#spinner {
  height: 100vh;
  width: 100vw;
  background-color: rgba(184, 194, 43, 0.6823529412);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
}

header .top {
  background: #f8f9f9;
  padding: 12px 0;
  border-bottom: 1px solid #e1e1e1;
}
header .top .phone-wrap span {
  font-size: 12px;
  color: #242424;
}
header .top .phone-wrap a {
  font-size: 12px;
  color: #242424;
}
header .top .ht-menu {
  display: flex;
  justify-content: flex-end;
}
header .top .ht-menu li {
  list-style: none;
  padding: 0 15px;
  position: relative;
  display: flex;
  align-items: center;
}
header .top .ht-menu li::after {
  content: "";
  position: absolute;
  background: rgba(34, 68, 34, 0.2666666667);
  height: 15px;
  width: 1px;
  right: 0;
  top: 5px;
}
header .top .ht-menu li span {
  font-size: 12px;
  margin-right: 5px;
}
header .top .ht-menu li div {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
header .top .ht-menu li div:hover {
  color: #fed700;
}
header .top .ht-menu li div span::after {
  content: "\f107";
  font-size: 14px;
  color: #a4a4a4;
  margin-left: 5px;
  padding-top: 3px;
  font-family: fontawesome;
}
header .top .ht-menu li div span:hover::after {
  color: #fed700;
}
header .bottom {
  background: #fed700;
  margin-bottom: 20px;
}
header .bottom .menu ul {
  position: relative;
}
header .bottom .menu ul li {
  display: inline-block;
  position: relative;
  padding-right: 50px;
  transition: all 0.3s ease-in-out;
}
header .bottom .menu ul li a {
  display: flex;
  color: #242424;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 35px;
  font-weight: 500;
  padding: 8px 0;
}
header .bottom .menu ul li a::after {
  content: "\f107";
  position: absolute;
  top: 8px;
  right: 30px;
  font-family: fontawesome;
  font-size: 18px;
  transition: all 0.3s ease-in-out;
  color: #242424;
}
header .bottom .menu ul li:hover a,
header .bottom .menu ul li:hover a::after {
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  header .bottom .menu ul li:hover a,
  header .bottom .menu ul li:hover a::after {
    color: #fed700;
  }
}
header .bottom .menu ul li:hover a::after {
  transform: rotate(180deg);
}
header .bottom .navbar-toggler {
  background-color: rgba(255, 255, 255, 0.71);
}
header .header-sticky.sticky {
  background: rgba(254, 215, 0, 0.9);
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 300ms ease-in 0s;
  z-index: 1049;
  animation: 800ms ease-in-out 0s normal none 1 running slideInDown;
}
header .breadcrumb-area {
  padding: 21px 0 22px;
  background: #f9f9f9;
}
header .breadcrumb-area li {
  color: #a4a4a4;
  display: inline-block;
  font-size: 14px;
  margin-right: 28px;
  position: relative;
}
header .breadcrumb-area li a {
  color: #242424;
}
header .breadcrumb-area li a:hover {
  color: #242424;
}
header .breadcrumb-area li::before {
  content: "";
  width: 12px;
  height: 2px;
  background-color: #aaaaaa;
  position: absolute;
  right: -22px;
  top: 10px;
  transform: rotate(-67deg);
  transition: all 0.4s ease 0s;
}
header .breadcrumb-area li:last-child::before {
  display: none;
}
@media screen and (max-width: 768px) {
  header .bottom {
    background: transparent !important;
  }
  header #navbarSupportedContent {
    background: white;
  }
  header .top-right {
    display: grid;
  }
}
@keyframes slideInDown {
  from {
    transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}
footer {
  background: #f7f7f7;
  border-top: 1px solid #e1e1e1;
}
footer .top .wrap {
  border-bottom: 1px dashed #e1e1e1;
}
footer .top .logo p {
  margin: 20px 0 25px;
  font-size: 14px;
  line-height: 24px;
  color: #888;
}
footer .top .des li {
  color: #888;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 15px;
}
footer .top .des li span {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
}
footer .top .block .title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #242424;
  margin: 0 0 15px 0;
  cursor: pointer;
  padding-top: 20px;
  text-transform: capitalize;
}
footer .top .block li {
  display: block;
  margin: 0;
  line-height: 32px;
  border: 0;
  padding: 0;
}
footer .top .block a {
  font-size: 14px;
  color: #888;
  line-height: 36px;
  display: block;
  position: relative;
  transition: all 0.3s ease-in-out;
}
footer .top .block a:hover {
  color: #242424;
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}
footer .top .block .social-link {
  line-height: 30px;
  margin-bottom: 40px;
  margin-top: 25px;
}
footer .top .block .social-link li {
  display: inline-block !important;
  transition: all 0.3s ease-in-out;
  margin-right: 12px !important;
}
footer .top .block .social-link li:hover > a {
  background: #fed700;
}
footer .top .block .social-link li a {
  width: 40px;
  height: 40px;
  line-height: 40px !important;
  text-align: center;
}
footer .top .block .social-link li a i {
  font-size: 18px;
  color: #fff;
}
footer .top .block .social-link .facebook {
  background: #3c5b9b;
}
footer .top .block .social-link .youtube {
  background: #c72982;
}
footer .top .block .social-link .instagram {
  background: #c619b8;
}
footer .top .newsletter {
  float: left;
  width: 100%;
}
footer .top .newsletter h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  color: #242424;
  margin: 25px 0 25px 0;
  cursor: pointer;
  text-transform: capitalize;
}
footer .top .newsletter .form-group {
  position: relative;
  float: left;
  width: 100%;
}
footer .top .newsletter .form-group input {
  background: transparent;
  border: 1px solid #e1e1e1;
  padding: 0 135px 0 10px;
}
footer .top .newsletter .btnMain {
  position: absolute;
  right: 0px;
  top: 0px;
}
footer .bottom .links {
  padding: 0 40px 20px;
}
footer .bottom .links ul {
  text-align: center;
}
footer .bottom .links ul li {
  display: inline-block;
  position: relative;
}
footer .bottom .links ul li::after {
  content: "/";
  color: #888;
}
footer .bottom .links ul li a {
  color: #888;
  line-height: 24px;
  letter-spacing: 0.3px;
}
footer .bottom .links ul li a:hover {
  color: #242424;
  text-decoration: underline;
}

#cardTotal {
  margin-inline-end: 150px;
}

th.sort {
  cursor: pointer;
}

.product-review {
  border-bottom: 1px solid #ebebeb;
}

.table-content table {
  background: #fff none repeat scroll 0 0;
  border-color: #ebebeb;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

thead {
  background-color: #f6f6f6;
}

.table-content table th,
.table-content table td {
  border-bottom: 1px solid #ebebeb;
  border-right: 1px solid #ebebeb;
}

.table-content table th {
  border-top: medium none;
  font-size: 15px;
  text-transform: capitalize;
  padding: 20px 10px;
  text-align: center;
  font-weight: 500;
  vertical-align: middle;
  white-space: nowrap;
}

.table-content table td {
  border-top: medium none;
  padding: 20px 10px;
  vertical-align: middle;
  font-size: 13px;
}

.table-content table td.li-product-remove {
  font-size: 20px;
}

.table-content table td.li-product-name {
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}

.table-content table td.li-product-price {
  font-size: 16px;
  font-weight: 500;
}

.table-content table td.li-product-stock-status span.in-stock,
.table-content table td.li-product-stock-status span.out-stock {
  color: #fed700;
  font-size: 12px;
  text-transform: capitalize;
}

.table-content table td.li-product-stock-status span.out-stock {
  color: #EB3E32;
}

.table-content table td.li-product-add-cart a {
  font-size: 14px;
  text-transform: uppercase;
  background: #242424;
  color: #fff;
  padding: 10px 20px;
  font-weight: 700;
  display: inline-block;
}

.table-content table td.product-subtotal {
  font-size: 16px;
  font-weight: 700;
  color: #414141;
}

.table-content table td .cart-plus-minus {
  float: none;
  margin: 0 auto;
}

.cart-page-total {
  padding-top: 30px;
}

.cart-page-total > h2 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.cart-page-total > ul {
  border: 1px solid #ddd;
}

.cart-page-total > ul > li {
  list-style: none;
  font-size: 18px;
  color: #252525;
  padding: 10px 30px;
  border-bottom: 1px solid #ebebeb;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.cart-page-total ul > li > span {
  float: right;
}

.cart-page-total li:last-child {
  border-bottom: 0;
}

.cart-page-total > a {
  background-color: #333;
  border: 1px solid #333;
  color: #fff !important;
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cart-page-total > a:hover {
  background: #fed700;
  border-color: #fed700;
  color: #333 !important;
}

@media screen and (max-width: 767px) {
  .table-content table td.li-product-add-cart a {
    font-size: 10px;
    padding: 7px 7px;
  }
}
.table-content table td.li-product-add-cart a:hover {
  background: #fed700 none repeat scroll 0 0;
  color: #fff;
}

.sortArrow {
  transform: rotate(180deg);
}

.cart-plus-minus {
  float: left;
  margin-right: 15px;
  position: relative;
  width: 76px;
  text-align: left;
}

.cart-plus-minus .cart-plus-minus-box {
  border: 1px solid #e1e1e1;
  color: #242424;
  height: 46px;
  text-align: center;
  width: 48px;
  width: 48px;
  width: 3rem;
  background: #fff;
}

.cart-plus-minus .dec.qtybutton,
.cart-plus-minus .inc.qtybutton {
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  border-top: 1px solid #e1e1e1;
  color: #333333;
  cursor: pointer;
  height: 23px;
  line-height: 20px;
  position: absolute;
  text-align: center;
  transition: all 0.3s ease-in-out 0s;
  width: 28px;
}

.cart-plus-minus .dec.qtybutton:hover,
.cart-plus-minus .inc.qtybutton:hover {
  background: #ddd;
}

.cart-plus-minus .dec.qtybutton {
  bottom: 0;
  right: 0;
}

.cart-plus-minus .inc.qtybutton {
  border-bottom: none;
  top: 0;
  right: 0;
}

.product .shop-top-bar {
  padding: 15px;
  border: 1px solid #ededed;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product .shop-top-bar .filter {
  display: flex;
}
.product .shop-top-bar .filter p {
  font-size: 16px;
  margin: 5px 10px 0 0;
}
.product .shop-top-bar .hm-minicart-trigger {
  border-radius: 2px;
  background: #e80f0f;
  color: #fff;
  height: 41px;
  cursor: pointer;
  display: block;
  position: relative;
  padding: 10px 20px 10px 20px;
}
.product .shop-top-bar .hm-minicart-trigger i {
  font-size: 23px;
  color: #fff;
  transition: all 0.5s;
}
.product .shop-top-bar .hm-minicart-trigger:hover i {
  color: #fed700;
}
.product .shop-top-bar .hm-minicart-trigger .cart-item-count {
  position: absolute;
  top: -15px;
  left: 47px;
  display: block;
  overflow: hidden;
  min-width: 26px;
  line-height: 26px;
  font-size: 12px;
  font-weight: 400;
  color: #242424;
  background: #fed700;
  text-align: center;
  border-radius: 100%;
}
.product .shop-top-bar .minicart {
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 10;
  display: none;
  border: 1px solid #e5e5e5;
  padding: 20px;
  width: 290px;
  transition: all 2s;
  background: #ffffff;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
.product .shop-top-bar .minicart .btnMain {
  display: inline-block;
  line-height: 50px;
  margin: 10px auto 0;
  height: 50px;
  vertical-align: middle;
}
.product .shop-top-bar .minicart .minicart-product-list {
  padding-left: 0;
  margin-bottom: 0;
}
.product .shop-top-bar .minicart .minicart-product-list li {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
  padding: 10px 0;
  overflow: hidden;
}
.product .shop-top-bar .minicart .minicart-product-list li:first-child {
  padding-top: 0;
}
.product .shop-top-bar .minicart .minicart-product-list li .minicart-product-image {
  display: inline-block;
  border: 1px solid #e5e5e5;
  position: relative;
  width: 50px;
  flex: 0 0 50px;
  margin-right: 10px;
  align-self: flex-start;
}
.product .shop-top-bar .minicart .minicart-product-list li .minicart-product-image:hover {
  border-color: #fed700;
}
.product .shop-top-bar .minicart .minicart-product-list li .minicart-product-details {
  flex-shrink: 100;
  width: 100%;
  margin-right: 10px;
}
.product .shop-top-bar .minicart .minicart-product-list li .minicart-product-details h6 {
  color: #333333;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  margin: 0 0 5px;
  text-align: left;
}
.product .shop-top-bar .minicart .minicart-product-list li .minicart-product-details h6 a {
  color: #333333;
}
.product .shop-top-bar .minicart .minicart-product-list li .minicart-product-details h6 a:hover {
  color: #fed700;
}
.product .shop-top-bar .hm-minicart:hover .minicart {
  display: block;
  transition: all 2s;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap {
  background: #ffffff none repeat scroll 0 0;
  position: relative;
  transition: all 300ms ease-in 0s;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap::before {
  content: "";
  background: #ffffff none repeat scroll 0 0;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  position: absolute;
  bottom: -15px;
  left: 0;
  right: 0;
  top: -15px;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: all 300ms ease-in 0s;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap:hover {
  margin: 0 0 -75px;
  padding: 0 0 75px;
  z-index: 9;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap:hover:before {
  opacity: 1;
  visibility: visible;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap:hover .add-actions {
  bottom: 0 !important;
  opacity: 1 !important;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product-image a {
  display: block;
  position: relative;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info {
  position: relative;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info .rating-box {
  background: #fff;
  display: block;
  line-height: 1;
  padding-bottom: 15px;
  transition: all 300ms ease-in 0s;
  overflow: hidden;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info .rating-box li {
  display: inline-block;
  margin: 0;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info .rating-box li i {
  font-size: 12px;
  color: #fed700;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info .rating-box li.no-star i {
  color: #e3e3e3;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info h4 {
  padding-top: 15px;
  margin: 0px;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info .product_name {
  color: #0363cd;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: capitalize;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info .product_name:hover {
  text-decoration: underline;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info .price-box {
  line-height: 1;
  margin-top: 16px;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info .new-price {
  color: #2f333a;
  font-size: 16px;
  font-weight: 500;
  padding-right: 10px;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info .desc {
  color: #333;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info .utility p {
  line-height: 19px;
  display: flex;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .product_desc_info .utility p::before {
  content: "●";
  margin-right: 4px;
  margin-bottom: 2px;
  margin-top: -1px;
  color: #333;
  font-size: 10px;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .add-actions {
  position: absolute;
  right: 0;
  bottom: -15px;
  left: 0;
  margin: 0 auto;
  opacity: 0;
  text-align: center;
  transition: all 300ms ease-in-out;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .add-actions .add-actions-link {
  display: inline-block;
  margin-top: 24px;
  padding-top: 20px;
  transition: all 300ms ease-in 0s;
  width: 100%;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .add-actions .add-actions-link li {
  line-height: 1;
  margin: 0 0 0 3px;
  background: #eef0f1;
  display: inline-block;
  border-radius: 4px;
  float: left;
  height: 35px;
  line-height: 35px;
  width: 35px;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .add-actions .add-actions-link li.add-cart {
  margin: 0;
  background: #eef0f1;
  border: 1px solid #e1e1e1;
  transition: all 0.3s ease-in-out;
  width: 120px;
  cursor: pointer;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .add-actions .add-actions-link li:hover {
  background: #fed700;
  border-color: #fed700;
}
.product .shop-products-wrapper .shop-product-area .single-product-wrap .product_desc .add-actions .add-actions-link li a {
  color: #a4a4a4;
  display: block;
  font-size: 17px;
  font-weight: 400;
  padding: 0;
  position: relative;
  text-align: center;
  transition: all 300ms ease-in 0s;
}/*# sourceMappingURL=main.css.map */