.product {
  .shop-top-bar {
    padding: 15px;
    border: 1px solid #ededed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .filter {
      display: flex;

      p {
        font-size: 16px;
        margin: 5px 10px 0 0;
      }
    }

    .hm-minicart-trigger {
      border-radius: 2px;
      background: #e80f0f;
      color: #fff;
      height: 41px;
      cursor: pointer;
      display: block;
      position: relative;
      padding: 10px 20px 10px 20px;

      i {
        font-size: 23px;
        color: #fff;
        transition: all .5s;
      }

      &:hover i {
        color: $main-color;
      }

      .cart-item-count {
        position: absolute;
        top: -15px;
        left: 47px;
        display: block;
        overflow: hidden;
        min-width: 26px;
        line-height: 26px;
        font-size: 12px;
        font-weight: 400;
        color: $text-color-main;
        background: $main-color;
        text-align: center;
        border-radius: 100%;
      }
    }

    .minicart {
      position: absolute;
      right: 0;
      top: 100%;
      z-index: 10;
      display: none;
      border: 1px solid #e5e5e5;
      padding: 20px;
      width: 290px;
      transition: all 2s;
      background: #ffffff;
      text-align: left;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

      .btnMain {
        display: inline-block;
        line-height: 50px;
        margin: 10px auto 0;
        height: 50px;
        vertical-align: middle;
      }

      .minicart-product-list {
        padding-left: 0;
        margin-bottom: 0;

        li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          justify-content: space-between;
          list-style: none;
          border-bottom: 1px solid #e5e5e5;
          padding: 10px 0;
          overflow: hidden;

          &:first-child {
            padding-top: 0;
          }

          .minicart-product-image {
            display: inline-block;
            border: 1px solid #e5e5e5;
            position: relative;
            width: 50px;
            flex: 0 0 50px;
            margin-right: 10px;
            align-self: flex-start;

            &:hover {
              border-color: $main-color;
            }
          }

          .minicart-product-details {
            flex-shrink: 100;
            width: 100%;
            margin-right: 10px;

            h6 {
              color: #333333;
              font-size: 14px;
              font-weight: normal;
              line-height: 20px;
              margin: 0 0 5px;
              text-align: left;

              a {
                color: #333333;

                &:hover {
                  color: $main-color;
                }
              }
            }
          }

        }
      }
    }

    .hm-minicart:hover .minicart {
      display: block;
      transition: all 2s;
    }
  }

  .shop-products-wrapper {
    .shop-product-area {
      .single-product-wrap {
        background: #ffffff none repeat scroll 0 0;
        position: relative;
        transition: all 300ms ease-in 0s;

        &::before {
          content: "";
          background: #ffffff none repeat scroll 0 0;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, .15);
          border-radius: 4px;
          position: absolute;
          bottom: -15px;
          left: 0;
          right: 0;
          top: -15px;
          opacity: 0;
          visibility: hidden;
          z-index: 0;
          transition: all 300ms ease-in 0s;
        }

        &:hover {
          margin: 0 0 -75px;
          padding: 0 0 75px;
          z-index: 9;

          &:before {
            opacity: 1;
            visibility: visible;
          }

          .add-actions {
            bottom: 0 !important;
            opacity: 1 !important;
          }
        }

        .product-image {
          a {
            display: block;
            position: relative;
          }
        }

        .product_desc {
          .product_desc_info {
            position: relative;

            .rating-box {
              background: #fff;
              display: block;
              line-height: 1;
              padding-bottom: 15px;
              transition: all 300ms ease-in 0s;
              overflow: hidden;

              li {
                display: inline-block;
                margin: 0;

                i {
                  font-size: 12px;
                  color: $main-color;
                }

                &.no-star i {
                  color: #e3e3e3;
                }
              }
            }

            h4 {
              padding-top: 15px;
              margin: 0px;
            }

            .product_name {
              color: #0363cd;
              display: block;
              font-size: 16px;
              font-weight: 500;
              line-height: 18px;
              text-transform: capitalize;

              &:hover {
                text-decoration: underline;
              }
            }

            .price-box {
              line-height: 1;
              margin-top: 16px;
            }

            .new-price {
              color: #2f333a;
              font-size: 16px;
              font-weight: 500;
              padding-right: 10px;
            }

            .desc {
              color: #333;
            }

            .utility {
              p {
                line-height: 19px;
                display: flex;

                &::before {
                  content: '●';
                  margin-right: 4px;
                  margin-bottom: 2px;
                  margin-top: -1px;
                  color: #333;
                  font-size: 10px;
                }
              }
            }

            .product-review {
              border-bottom: 1px solid #ebebeb;
            }
          }

          .add-actions {
            position: absolute;
            right: 0;
            bottom: -15px;
            left: 0;
            margin: 0 auto;
            opacity: 0;
            text-align: center;
            transition: all 300ms ease-in-out;

            .add-actions-link {
              display: inline-block;
              margin-top: 24px;
              padding-top: 20px;
              transition: all 300ms ease-in 0s;
              width: 100%;

              li {
                line-height: 1;
                margin: 0 0 0 3px;
                background: #eef0f1;
                display: inline-block;
                border-radius: 4px;
                float: left;
                height: 35px;
                line-height: 35px;
                width: 35px;

                &.add-cart {
                  margin: 0;
                  background: #eef0f1;
                  border: 1px solid #e1e1e1;
                  transition: all 0.3s ease-in-out;
                  width: 120px;
                  cursor: pointer;
                }

                &:hover {
                  background: $main-color;
                  border-color: $main-color;
                }

                a {
                  color: #a4a4a4;
                  display: block;
                  font-size: 17px;
                  font-weight: 400;
                  padding: 0;
                  position: relative;
                  text-align: center;
                  transition: all 300ms ease-in 0s;
                }
              }
            }
          }

        }
      }

    }
  }

}