button.li-btn {
  border: none;
  background: #fed700;
  color: #242424;
  font-size: 20px;
  width: 45px;
  border-radius: 0 2px 2px 0;
  height: 45px;
  line-height: 45px;
  position: absolute;
  right: -1px;
  top: -1px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

button.li-btn:hover {
  background: #333333;
  color: #ffffff;
}